<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; margin-bottom: 20px;">
<p><strong>Olá, {{ student }}</strong></p>
<br />
<p>A sua matrícula na <strong>Gympoint</strong> foi atualizada. Veja os novos dados da sua matrícula abaixo:</p>
<br />
<p>
  A sua matrícula agora é válida de: <strong>{{ first_day }}</strong> até: <strong>{{ last_day }}</strong>
</p>
<p>
O valor total para o(s) <strong>{{ duration }} mes(es)</strong> da sua matrícula é de: <strong>{{ price }} reais</strong>.
</p>
</div>
