<div style="display: flex; flex-direction: column; align-items: center; justify-content: center;  margin-bottom: 20px;">
<p><strong>Olá, {{ student }}</strong></p>
<br />
<p>A sua matrícula na <strong>Gympoint</strong> foi realizada com sucesso.</p>
<p>Seja bem-vindo a nossa academia, esperamos atender as suas expectativas para podermos juntos alcançar seus objetivos!</p>
<br />
<p>
  A matrícula é válida de: <strong>{{ first_day }}</strong> até: <strong>{{ last_day }}</strong>
</p>
<p>
O valor total para o(s) <strong>{{ duration }} mes(es)</strong> da sua matrícula é de: <strong>{{ price }} reais</strong>.
</p>
</div>
